

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input::before, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.log-in-container{
  float: left;
  margin: 300px ;
  margin-left: 35%;
  width: 400px;
  border: 1px solid;
}
.loginLabel{
  margin-top: 30px;

  margin-left: 30px;
}
.username{
  margin-left: 30px;
}
.cover-image-choice{
  width:200;
}
.centered-text{
position: relative;
top: 80px;
width: 400px;
margin: 0px auto;
letter-spacing: 1px;
font-weight:100;
font-size:24pt;
color:white;

}

.sign-in-index-button{

}
input[type="text"]::before {
  padding: 0 0 0 10px;
  width: 290px;
  margin: 10px 30px 10px;
}
input[type="password"] {
  padding: 0 0 0 10px;
  width: 290px;
  margin: 10px 30px 10px;
}
.sign-in {
    width: 40px;
    margin: 10px 30px 10px;
    padding:10px 130px;
    background-color:rgb(50,150,200);
    border-radius:8px;
    color:white;
    transition: .2s;

}
.new-user {
  width: 200px;
  margin: 20px 30px 10px;
  padding: 10px 0 10px 100px;
  background-color: rgb(50,150,200);
  margin-top: 5px;
  border-radius: 8px;
  float: left;
  color:white;
  transition: .2s;

}
.new-user:hover{
  background-color: rgb(50,200,240);
  transition: .2s;

}

.sign-in:hover{
  background-color: rgb(50,200,240);
  transition: .2s;

}



ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}
.header{
  width:100%;
  height:60px;
  background:black;
  z-index:2;
  color:white;
  padding:0px;
  margin:0px;
  position:fixed;
}
.logIn{
  float:right;
  font-size:11pt;
  margin:20px;
  margin-right: 80px;

}

.logo {
  margin-top: 22px;
  margin-left: 80px;
  width: 180px;
  height: 15px;
  float: left;
  background-image: url(http://s3.amazonaws.com/zeitgeist-dev/images/image_files/000/000/386/original/zeit-geist.png?1471027520);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.head-fixed{
  position: fixed;
  z-index:-2;
  height:218px;
  width:100%;
}
.head-image-container {
    background-color: none;
    opacity: 1;
    position: relative;
    float: left;
    width: 100%;
    z-index: -2;
    height: 225px;
}
.head-image{
  margin:auto 0;
  position:absolute;
  width:100%;
  top:60px;
  background-image: url(http://s3.amazonaws.com/zeitgeist-dev/images/image_files/000/000/385/original/painting-header.jpg?1471027431);
  height:auto;
  height: 200px;
}

.head-overlay{
  width:100%;
  height:100%;
  background-color:black;
  opacity: .3;
  position:absolute
}
.content-container{
    background-color: none;
    width: 1150px;
    float: left;
    margin-top: 40px;
    margin-left: 8%;
    transition: 1s ease-in-out;
}


.filter-bar {
    float: left;
    z-index:4;
    width: 100%;
    height: 80px;
    background-color: rgb(240,240,240);
    margin-top: 218px;
    border-style:solid;
    border-bottom-width: 3px;
    border-bottom-color: rgb(220,220,220);

    transition: box-shadow .2s ;
}
  .index-page{
    max-height:20000px;
    background-color:white;
    float:left;
    width:100%;
  }
  .index-page-add-margin{
    margin-top: 298px;
  }

.filter-bar-fixed{
  box-shadow: 2px 3px 5px rgb(200,200,200);
  position:fixed;
  margin-top:0px;
  top:60px;
  left:0px;
  transition: box-shadow .4s ease-in-out ;

}

.filter-options{
  max-width: 538px;
  margin: 0 auto;

}
.filter-options-list-item{
    float: left;
    font-size: 18pt;
    padding-left: 10px;
    margin-top: 26px;
    border-style: solid;
    border-left-width: 1pt;
    margin-left: 20px;
    color: rgb(155,155,155);
    transition: .2s;
    font-style: 400;
    font-weight: 100;
    letter-spacing: 1px;
    border-left-width: 3px;
    border-left-color: rgb(190,190,190);
}

.filter-options-list-item:hover{
  background-color: rgb(180,200,180);
  color:rgb(282,26,180);
  transition: .2s;
  cursor:pointer;

}

.index-item{
  background-color:none;
  float:left;
  margin-right:22px;
  margin-bottom:22px;
  width:202px;
  height:202px;
  border-radius:5px;
  position:relative;
  transition: .4s ease-in-out;
  box-shadow: 0px 0px 4px rgb(150,150,150);
}
.index-item:hover{
  transform: rotate3d(0, 10, 0, 12deg);
}
.cover-image {
    float: left;
    background-color: red;
    height: 50%;
    border-radius:4px;
    opacity: .7;
    width: 100%;
    overflow: hidden;
    transition: .3s ease-in-out;
    position:relative;
}
.cover-image:hover{
  opacity: 1;
  cursor:pointer;
  transition: .3s ease-in-out;

}
.cover-image-overlay{
  width: 80%;
  height: 147px;
  background: radial-gradient(rgb(100,100,100) 0%, rgb(0,0,0) 100%);
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: .7;
  transition: .3s ease-in-out;
  color:white;
  font-weight:100;
  padding:10%;
  letter-spacing: 4px;
  font-size:14pt;


}
.cover-image-overlay:hover{
  opacity:0;
  transition: .3s ease-in-out;

}
.cover-image-crop{
    margin-top: -30%;
    width: auto;
}

.sidebar {
    float: left;
    width: 350px;
    height: 800px;
    margin-right: 50px;
    margin-top: 45px;

}
.margin-setter {
    margin: 0 auto;
    width: 1800px;
}

input[type="password"]::before,
input[type="email"]::before,
input[type="text"]::before{
  background-color:rgb(210,210,210);
  border-style:solid;
  border-color:rgb(170,170,170);
  border-width: 1px;
}

.header-dropdown{
  float: right;
  width: 100px;
  height: 60px;
  color: white;
  background-color: black;
  margin: 0px 50px;
  position: relative;
}

.hidden-dropdown li{
  float: right;
  clear: both;
  margin-top: 10px;
  margin-right: 10px;
  color:rgb(100,100,100);

}

.hidden-dropdown{
  position: absolute;
  width: 200px;
  left: -102px;
  padding-bottom: 9px;
  background-color: rgb(180,200,180);
  top: 60px;
  max-height: 56px;
  border-width: 0px 1px 20px 1px;
  opacity: 0;
  pointer-events: none;
  transition: .4s;
  border-style: solid;
  border-color: rgb(282,26,180);

}
.header-droppdow-inner-text{
  float: right;
  padding: 10px 10px 10px 10px;
  min-width: 40px;
  max-height: 40px;
  margin-top: 10px;
}
.header-dropdown:hover .hidden-dropdown{
  opacity: 1;
  pointer-events: all;
  transition:.4s;
}
.profile-content-container{
  width: 1250px;
  height: 1000px;
  margin: 0px auto;
}
.profile-user-side-menu{
  position:fixed;
  width: 350px;
  height: 900px;
  margin-top:200px;
  opacity:1;
  font-weight:300;
  border-right: solid black 1pt;
  margin-left:50px;

}
.profile-user-side-menu h3{
  font-weight:500;
}
.profile-projects{
  float: left;
  width: 800px;
  opacity: 1;
  height: 900px;
  margin-top: 200px;
  margin-left: 420px;


}
.fixed-new-user{
  font-size: 12pt;
  margin: 20px 0px 10px;
}

.nav-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
}

.new-project {
    /* width: 282px; */
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
    height: 30px;
    font-size: 10pt;
    font-weight: 200;
    padding: 5px 10px 5px 10px;
    background-color: rgb(30,30,30);
    border-radius: 8px;
    letter-spacing: 1px;
    transition: .2s;
}
.nav-wrap {
    position: relative;
    width: 500px;
    height: 100%;
    margin: auto;
}

.new-project:hover{
  background-color: rgb(50,200,240);
  transition: .2s;

}
.new-project-all{
    background-color: rgb(246,246,246);
}
.new-project-canvas {
  margin: auto;
  width: 1700px;
  min-height: 1100px;
  max-height: 4000000px;
  padding-top: 200px;
  transition: 2s;
}
.woof{
  width: 100%;
  margin-top: 100px;
}
@media (max-width: 1400px) {
    .new-project-content {
      width:900px;
      transition: 2s;

    }
}

.new-project-sidebar {
    position: fixed;
    background-color: rgb(20,20,20);
    max-height: 350px;
    width: 250px;
    border-radius: 5px;
    padding: 40px 0 50px 0;
}
.new-project-content {
    width: 1100px;
    max-height: 40000px;
    background-color: white;
    float: left;
    box-shadow: 0px 0px 50px rgb(210,210,210);
    margin-left: 270px;
    transition:2s;
    transition:.4s;
    min-height: 600px;

}


.new-project-sidebar li{

    background-color: rgb(60,60,60);
    margin: auto;
    text-align: center;
    padding: 10px 0px 10px 0px;
    color: white;
    list-style: none;
    font-weight: 200;
    font-size: 14pt;
    border-style: solid;
    border-color: white;
    border-bottom-width: 2px;
    opacity: .8;
    transition: 2s;
}

.new-project-sidebar li:hover{
  background-color: rgb(120,120,120);
  transition: 2s;

}

.new-project-list-item-header {
    margin-left: 30px;
    padding: 10px 0px 10px 0px;
    color: white;
    font-weight: 200;
    font-size: 10pt;
    border-style: solid;
    border-color: white;
    border-bottom-width: 2px;
    opacity: .8;
    transition: 2s;
}

.image-object {
    width: 900px;
    height: 600px;
    border-radius: 10px;
    border-style: dotted;
    border-color: rgb(230,230,230);
    border-width: 3px;
    float: left;
    margin-left: 70px;
    margin-top: 30px;
    transition: 1s;
}


.image-object:hover {
  border-color: rgb(50,200,240);
  cursor:pointer;
  transition: .5s;

}
.transparent {
  opacity: 0;
  pointer-events: none;
}
.create-project-resized-image-width{
  height: 900px;
  margin: 0 auto;
  height: auto;
}

.create-project-resized-image-height{
  height: 600px;
  margin: 0 auto;
  width: auto;
}

.create-project-submit{
  width: 150px;
  height: 40px;
  color:white;
  background-color: rgb(50,150,200);
  text-align: center;
  margin-top: 20px;
  border-radius: 14px;
  position: relative;
  margin: auto;
  margin-top: 150px;
  opacity:.4;
  height: 40px;
  font-size: 16pt;
  color: white;
  transition: .2s;
}
.create-project-submit:hover{
opacity:1;
}

.project-submit-nav{
  width:150px;
  margin: auto;
}

.project-submit-text-area{
  margin: 10px auto;
  width: 400px;
  border-radius:4px;
  border: 3px rgb(200,200,200) solid;
  height: 200px;
  padding: 5px;
}

.centered-text-object{
    margin: auto;
    width: 322px;
}
.create-new-project-title{
  margin-top: 70px;
  margin-left: 70px;
  color:rgb(200,200,200);
    font-size: 32pt;

}

.title-box{
  background-color: white;
  color: black;
  width: 1000px;
  border: none;
  font-size: 32pt;
  padding-left:10px;
  MARGIN-LEFT:20px;

}
.cover-image-choice{
  height:400px;
  width:auto;
  clear:none;
  margin-left:50px;



}
.cover-photos-header{
  text-align: center;
  font-size:24pt;
  margin: 50px 200px;
  font-weight:bold;
}
.cover-image-choice-image{
  width:inherit;
  height:inherit;
  opacity:1;
  transition:.5s;
}
.cover-image-choice-image:hover{
  opacity:.3;
  transition:.5s;
  cursor:pointer;
  backgroung-color:red;
  padding:10px;
}
.centered-cover-photots{
  margin:auto;
}
.center-for-crop {
    margin: 0px auto;
    width: 400px;
}

.margin-crop-top {
    margin-top: 200px;
    float: left;
}
.range-slider{
  margin: 0px 40px 20px;
  float: left;
  clear: both;
  color: rgb(200,200,200);

}
.crop-cover-submit{
  float:left;
  clear:both;
  margin-left:25px;
  color: rgb(50,50,50);
  width:160px;
  height:40px;
  border-radius: 5px;
  background-color:rgb(50,150,200);
  text-align: center;
  transition: .2s ease-in-out;
}
.crop-cover-submit:hover{
  background-color:rgb(50,200,240);
  transition: .2s ease-in-out;

}
strong{
  font-weight:100;
}
.author-title {
    color: rgb(200,200,200);
    margin: 10px 20px;
    float: left;
    font-weight:bold;
}
.profile-picture{
  border-radius: 100%;
  width: 250px;
  height: 250px;
  border: rgb(50,50,50) 20px solid;
  margin-right: 20px;
}

.destroy{
  color:white;
  text-align: center;
  position:fixed;
  top:200px;
  width:150px;
  left:80px;
  height:50px;
  border-radius:2px;
  background-color:rgb(50,50,50);
  transition: .4s;

}
.destroy:hover{
  background-color:rgb(20,20,20);
  transition: .4s;

}
.header-dropdown{
  color: white;
}

#coverContainer{
  overflow: hidden;
  position: relative;
}

#coverBackground{
  float: left;
  background-image: url('zeitGeistCover.jpg');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

#coverTitle{
  position: absolute;
  width: 600px;
  margin-left: 0%;
  top: 0%;
  height: 600px;
  font-size: 36pt;
  opacity: .8;
  text-shadow: 2px 3px 5px rgba(0,0,0,.8);
  color:rgb(236,9,141);
  font-family: "Graphik-Black";
  -webkit-transform: rotate(90deg);
}

#coverScroll{
  position: absolute;
  width: 600px;
  top: 70%;
  margin-left: 00px;
  height: 600px;
  font-size: 32pt;
  pointer-events: none;
  opacity: .8;
  text-shadow: 2px 3px 5px rgba(0,0,0,.8);
  color:rgb(236,9,141);
  font-family: "Graphik-Black";
  -webkit-transform: rotate(90deg);
}

#projectIndex{
  float: left;
  left: 0px;
  background-color: white;
  min-height: 1200px;
  max-height: 20000000px;
  width: 100%;

}

#signInButton{
  position: absolute;
  width: 100px;
  margin-left: 00px;
  font-size: 16pt;
  text-align: center;
  background-color: rgb(236, 9, 141);
  padding: 10px;
  border: 10px solid rgb(152, 197, 234);
  color: rgb(152, 197, 234);
  font-family: "Graphik-Black";
}

#signUpButton{
  position: absolute;
  width: 100px;
  margin-left: 00px;
  font-size: 16pt;
  text-align: center;
  background-color: rgb(236, 9, 141);
  padding: 10px;
  border: 10px solid rgb(152,197,234);
  color:rgb(152,197,234);
  font-family: "Graphik-Black";
}

#signUpButton:hover{
  cursor: pointer;
}

#head{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 0px;
  background-color: white;
  transition: 1s;
  opacity: 0;
  box-shadow: 2px 3px 20px rgba(0,0,0,.8);
  z-index: 100000000000;
}

#currentUserBadge{
  z-index: 1000;
  color: black;
  font-family: "Graphik-Regular";
  margin-top: 15px;
  font-size: 12pt;
  float: right;
  position: relative;
}

#homeButton{
  color: black;
  margin-left: 50px;
  font-family: "Graphik-Regular";
  margin-top: 15px;
  font-size: 12pt;
  width: 200px;
  float: left;
}

#addProjectButton{
  color: black;
  margin-left: 20px;
  font-family: "Graphik-Bold";
  margin-top: 10px;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12pt;
  width: 200px;
  transition: .5s;
  float: left;
}

#addProjectButton:hover{
  background-color: rgb( 250, 120, 120);
  cursor: pointer;
}

#currentUserBadge:hover .badgeMenu{
  padding: 20px;
  opacity: 1;
  height: 100px
}

#signInButton:hover{
  cursor: pointer;
}

#Public{
  color: black;
}

#index{
  width: 100%;
}
.filterContainer{
  display: block;
  width: 300px;
  margin: 0 auto;
}

.filter{
  float: left;
  width: auto;
  margin-left: 40px;
  color: white;
  font-family: "Graphik-Bold";
  font-size: 14pt;
  -webkit-text-stroke: 1px rgb( 200,200,200 );
}
.indivTagContainer{
  float: left;
  width: auto;
  margin-left: 10px;
  margin-top: 10px;

}
.headTagging{
  float: left;
}
.tag{
  float: left;
  font-family: "Graphik-Bold";
  font-size: 12pt;
  margin-right: 5px;
}
.tagX{
  float: left;
  font-family: "Graphik-Light";
  font-size: 12pt;
  padding-left: 5px;
  pointer-events: painted;
  color: rgb( 150,150,150 );
  border-left: 1px solid black;
}
.tagX:hover{
  cursor: pointer;
}

.filter:hover{
  cursor: pointer;
}

.targetItem{
  background-color: red;
  float: left;
  margin-bottom: 20px;
  margin-left: 10px;
  opacity: 1;
  height: 240px;
}

.indexCover{
  width: auto;
  height: 100%;
  opacity: 1;
}

.absoluteImg{
  position: absolute;
  top: 0px;
  opacity: 0;
  height: 100%;
  width: 100%;
  left: 0px;
  transition: .6s;
  display: block;
  box-shadow: 2px 3px 20px rgba(0,0,0,.8);
  background-color: red;
}

.absoluteImg{
  cursor: pointer;
}

.badgeMenu{
  position: absolute;
  height: 0px;
  width: 100px;
  font-family: "Graphik-Bold";
  background-color: white;
  line-height: 1.8em;
  transition: 1s;
  opacity: 1;
  overflow: hidden;
}
#projectViewPane{
  width: 0%;
  position: fixed;
  top: 0px;
  right:0px;
  height: 100%;
  max-height: 20000px;
  overflow: scroll;
  transition: 1s;
  overflow-x:hidden;
  border-left: 4px solid red;
  overflow-y : scroll;
}
.block{
  float:left;
  margin: 20%;
  width: 60%;
  height: 500px;
  background-color: white;
}
.author{
  float: left;
  width: 100%;
  text-align: left;
  margin-left: 20px;
  font-family: "Graphik-light";
  font-size: 6vw;
  margin-top: 200px;
  margin-bottom: 100px;

}
.userName{
  color: rgb(150,150,150);
  transition: .4s;
}
.userName:hover{
  cursor: pointer;
  color: black;
  transition: .4s;

}


#viewPaneProjectTitle{
  position: fixed;
  right: 62%;
  top: 60%;
  -webkit-transform: rotate(-90deg);

}
.fixedTitleContainer{
  position: relative;
  width: 100%;
}

.bottomTitleContainer{
  position: absolute;
  bottom: 0;
  line-height: 0px;
  text-align: right;
  font-family: "Graphik-Bold";
  font-size: 3vh;

}

#absoluteContainer{
  z-index: 1000000000000;
}

#viewPaneProjectAuthor{
  font-family: "Graphik-Bold";
  margin-top: 260px;
  margin-left: 2%;
  color: black;
  float: left;
  width: 100%;
  font-size: 100pt;
  letter-spacing: 2px;
  text-align: left;
}


.projectImage{
  float: left;
  margin-top: 20px;
  width: 80%;
  box-shadow: 2px 3px 20px rgba(0,0,0,.8);
  margin-left: 2%;
  height: auto;
}

.scrollPane{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  overflow: scroll;
}

.scrollable{
  height:100%;
  width:40%;
  overflow: hidden;
  overflow-y: scroll;
  transition: 3s;
  margin: 0 auto;
}

.xContainer{
  float: right;
  position: relative;
}

.x{
  position: absolute;
  top: 100px;
  text-align: right;
  right: 100px;
  font-size: 36pt;
  padding: 10px;
  z-index: 100000;
  transition: .4s;
}

.x:hover{
  cursor: pointer;
  color: rgb(200,200,200);
  transition: .4s;

}
.topMargin{
  float: left;
  height: 100px;
  width: 100%;

}
#tagContainer{
  position: fixed;
  min-height: 20px;
  top: 50px;
  opacity: 1;
  left: 0px;
  z-index: 1000000;
  height: 50px;
  transition: .4s;
  pointer-events: none;
}
.addTag{
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  font-family: "Graphik-Light";
  font-size: 16pt;

}

textarea, input { outline: none; }
input {-webkit-appearance: none; box-shadow: none !important; }
#tagInput{
  clear: both;
  float: right;
  width: 0px;
  margin-top: 10px;
  display: block;
  height: 20px;
  transition: .4s;
  width: 200px;
  font-size: 12pt;
  color: white;
  background-color: rgb(150,150,150);
}
#tagButton{
  float: right;
  margin-top: 10px;
  width: 200px;
  height: 25px;
  color: rgb(150,150,150);
  font-family: "Graphik-Light";
  font-size: 12pt;
  background-color: white;
  border: 1px solid rgb(150,150,150);
  transition: .4s;
  display: block;

}

.inputContainer{
  width: 100%;
  margin-top: 10px;
  clear: both;
  float: left;
}

#tagButton:hover{
  background-color: rgb(230,230,230);
  transition: .4s;


}
.bigSpace{
  width: 100%;
  height: 40px;
  margin-bottom: 100px;
}
.projectDropZone{
    margin-top: 50px;
    margin-left: 10%;
    width: 80%;
    height: 40vw;
    border: dashed 1px red;
    position: relative;
}

.createProjectButton{
  color: red;
  margin-right: 10%;
  text-align: center;
  margin-top: 3vw;
  margin-bottom: 3vw;
  width: 15vw;
  padding: 1vw;
  padding-top: 2vw;
  font-size: 1vw;
  height: 3vw;
  border: 1px solid red;
  float: right;
  transition: .4s;
}

.createProjectButton:hover{
  background-color: rgb( 250, 120, 120);
  transition: .4s;
}

.titleInput{
  border: none;
  font-size: 6vw;
  font-weight: lighter;
  text-align: center;
  width: 80%;
  margin-top: 120px;
  margin-left: 10%;
  height: 100px;
}

.dropTarget{
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 4vw;
  font-weight: lighter;
  color: red;
  text-align: center;
}

.filterBar{
  width: 100%;
  float: left;
  margin-top: 80px;
  margin-bottom: 20px;
}
#tagControls{
  position: absolute;
  top: 40px;
  padding: 20px;
  background-color: white;
  right: 0px;
  border-radius: 5px;
  box-shadow: 4px 1px 10px 1px rgba(0,0,0,.5);
  transition: .5s;
  display: none;
  z-index: 1000000;
  border: 1px solid rgb(150,150,150);
}

.floatRight{
  float: right;
}
.spacer{
  width: 500px;
  margin: auto;
  transition: .2s;
  position: relative;
}
.settings{
  float: left;
  height: 30px;
  width: 30px;
  margin-left: 40px;
  margin-top: -5px;
  background-image: url(settings.png);
  background-size: 100% 100%;
  position: relative;
}

.chooseCoverImg{
  float: left;
  height: 15vw;
  width: auto;
  margin-right: 1vw;
  margin-top: 1vw;
  transition: .4s;
  opacity: .6;
  border: 1px solid red;
}

.chooseCoverImg:hover{
  opacity: 1;
  cursor: pointer;
  transition: .4s;
}

.chooseCoverImagesContainer{
  float: left;
  width: 80%;
  margin-left: 10%;
}
.chooseCoverTitle{
  margin-top: 120px;
  font-size: 6vw;
  margin-left: 10%;
  font-weight: lighter;
  line-height: 1.6em;
  width: 60%;
}

.tagOptionsContainer{
  float: left;
  position: relative;
}
